p {
  font-family: Lato;
}
.tab{
 margin-top: -80px;
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: initial;
}
a{
  color: black;
}
.but{
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
}
.icon{
  position: relative;
  display: block;
}
.drop{
  display: none;
  position: absolute;
  background-color:lightgray;
  min-width: 158px;
  z-index: 1;

}
.drop a:hover{
  background-color: black;
  color: white;
}

.icon:hover .drop{
  display: block;
}
.icon:hover .but{
  background-color: transparent;
}
.rig{
  float: right;
  margin-top: -100px;
}
.grid{
  background-color: blueviolet;
}