<table cellpadding="10px" class="tab">
  <tr><td colspan="2" rowspan="2"><img  width="200" heigth="100" src="https://scontent.fmaa1-3.fna.fbcdn.net/v/t1.0-9/56790835_259719721486836_8181305012547223552_n.jpg?_nc_cat=101&ccb=2&_nc_sid=6e5ad9&_nc_ohc=4ZBSNjIFnDYAX_nEfyk&_nc_ht=scontent.fmaa1-3.fna&oh=dcec16d34d27b3c1bac2cac5b481f678&oe=6002517C" alt=""></td>
  <td ><div class="icon"><button class="but" mat-button >Home</button>
  <div class="drop">
  <a href="#">h1</a><br>
  <a href="#">h2</a><br>
  <a href="#">h3</a><br>
  </div>
  </div> 
  </td>
  <td>Contact us</td><td>About
    </td><td>Projects</td></tr>
</table>